.container
{
  padding-top: 30px;
}

.searchbar{
  margin-bottom: 20px;

}

.embed
{
  padding-right: 15px!important;
  padding-left: 15px!important;
}

.embed-responsive-item
{
  left: 15px!important;
}

.content
 {
   padding-right: 0px!important;
 }


/*-- ListmovieItem--*/

.containerDefault
{
  padding-top: 40px;
}
.img-movie
{
  width: 100px;
  height: 100px;
}

.search
{
  margin-bottom: 30px;
}

li:hover{

  background-color: #e0e0e0;
}

.title-list-item
{
  padding-top: 40px;
  text-align: center;
}
